<article class="list__item post">
	{{ partial "post_thumbnail.html" (dict "class" "list" "page" .) }}
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="{{ .RelPermalink }}" rel="bookmark">
			{{ .Title }}
			</a>
		</h2>

		<div class="subheader">
			
			<div class="date" > {{.Date.Format "January 2, 2006"}} </div>
			 <span class="author">By: {{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Params.author }}{{ end }}</span>		

		</div>

		
		{{- with .Params.lead }}
			<p class="list__lead post__lead">{{ . }}</p>		
		{{- end }}

		{{ with partial "post_meta.html" . -}}
			<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{ .Summary }} 
	</div>

	{{- if .Site.Params.readmore }}
		{{- if .Truncated }}	
		<div class="list__footer clearfix">
			<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
		</div>
		{{- end }}
	{{- end }}

	<div class="last_mod">
		{{ T "lastmod_msg" | markdownify }} Last Modified: {{ .Lastmod.Format "Monday, January 2, 2006" }}
	 </div>

</article>